html, body {
    background-color: grey;
}

@font-face {
    font-family: maintext;
    src: url(avenir.otf);
}

.site {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container {
    width: 1180px;
    height: 680px;
    display: inline-block; 
    background-image: url("../images/map-bayarea.png");
    background-size: 100% 100%;
    box-shadow: 0px 0px 50px black;
    position: relative;
}

.textarea {
    text-align: left;
    font-family: maintext;
    padding: 30px 0px 0px 30px;
}

.textarea h1 {
    font-size: 50px;
    color: darkslategray;
}

.textarea h2 {
    font-size: 17px;
    color: darkslategray;
}

.textarea h3 {
    margin-top: 50px;
    font-size: 25px;
    margin-left: 25px;
    color: darkslategray;
}

/* Star next to Starred Places */
#star {
    height: 20px;
    position: absolute;
    top: 148px;
}

/* Text area under Starred Places */
.starred {
   background-color:rgba(0, 0, 0, 0.1);
   width: 500px;
   height: 400px; 
   overflow: scroll;
}

/* Starred View Button */
.view {
    height: 50px;
    width: 120px;
    background-color: darkslategray;
    border: 1px solid darkslategray;
    color: ivory;
    font-size: 12px;
    margin-top: 30px;
    border-radius: 7px;
}

.view:hover {
    box-shadow: 0px 0px 20px black;
}

/* San Francisco */
#sf {
    width: 200px;
    height: 30px;
    background-color:rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 407px;
    bottom: 407px;
}

.bay:hover {
    box-shadow: 0px 0px 10px black;
}

#sf img {
    height: 15px;
    width: auto;
    margin-top: 7px;
}

.leftboxL {
    height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.midboxL {
    height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-family: maintext;
}

#temp {
    margin-top: 8px;
}

.rightboxL {
    height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.flexsj {
    height: 30px;
    width: 85px;
    float: left;
}

.flexsf {
    height: 30px;
    width: 110px;
    float: left;
}
.flexoak {
    height: 30px;
    width: 70px;
    float: right;
}

#sj {
    width: 175px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 270px;
    bottom: 240px;
}

.bay:hover {
    box-shadow: 0px 0px 10px black;
}

#sj img {
    height: 15px;
    width: auto;
    margin-top: 7px;
}

#oak {
    width: 160px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 206px;
    bottom: 416px;
}

#oak img {
    height: 15px;
    width: auto;
    margin-top: 7px;
}

.leftboxR {
    height: 30px;
    width: 30px;
    float: right;
    text-align: center;
    vertical-align: middle;
}

.midboxR {
    height: 30px;
    width: 30px;
    float: right;
    text-align: center;
    vertical-align: middle;
    font-family: maintext;
}

.rightboxR {
    height: 30px;
    width: 30px;
    float: right;
    text-align: center;
    vertical-align: middle;
}

.popup #popup {
    width: 500px;
    position: absolute;
    right: 340px;
    bottom: 230px;
    border-radius: 22px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0);
}

.popup.hidden {
    visibility:hidden;
}

#close {
    font-family: maintext;
    position: absolute;
    right: 370px;
    bottom: 500px;
}

#close button {
    padding-top: 0px;
}

#popstar {
    height: 30px;
    position: absolute;
    top: 160px;
    left: 365px;

}

.data {
    font-family: maintext;
    color: white;
}

#name {
    position: absolute;
    top: 165px;
    left: 415px;
    font-size: 30px;
}

#sunrise {
    position: absolute;
    top: 223px;
    left: 362px;
    font-size: 20px;
}

#sunset {
    position: absolute;
    top: 223px;
    left: 633px;
    font-size: 20px;
}

#forecast {
    position: absolute;
    top: 272px;
    left: 362px;
    font-size: 20px;
}

#humid {
    position: absolute;
    top: 272px;
    left: 633px;
    font-size: 20px;
}

#wind {
    position: absolute;
    top: 321px;
    left: 362px;
    font-size: 20px;
}

#cloud {
    position: absolute;
    top: 321px;
    left: 633px;
    font-size: 20px;
}

#maxtemp {
    position: absolute;
    top: 368px;
    left: 362px;
    font-size: 20px;
}

#mintemp {
    position: absolute;
    top: 368px;
    left: 633px;
    font-size: 20px;
}

.citylist {
    color: grey;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.delete {
    color: black;
    font-size: 8px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
}

.delete:hover {
    color: red;
}